<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
    <meta name="author" content="Carlos Alvarez - Alvarez.is - blacktie.co">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> Tefi - summer is a fun place to be </title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    <link href="assets/css/animate-custom.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
      	<%=render	"pages/navbarhome" %>

  
		<!-- ==== HEADERWRAP this is the text on top of the hero photo==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<!--<h1><span class="icon icon-shield"></span></h1>-->
	  		 		<!-- ==== this is the text on top of the hero photo==== -->
	  		 		<!--<p>CALL OF SUMMER</p>
	  		 		<p>SPRING/SUMMER 2014</p>-->
	  		</header>	 
	    </div> <!--/headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<span class="icon icon-heart", style="color:#6CD5FA"></span>
					<h2>Pareos </h2>
					<p>Encontrá los menjores diseños, más divertidos y copados para este verano!!! </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="icon icon-heart", style="color:#FDE775"></span>
					<h2>Shorts</h2>
					<p>Cortos, largos. Con ananás, piñas...como le quieras decir. Sueltos y shusti entrá y mirá! </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="icon icon-heart", style="color:#A557F9"></span>
					<h2>Bolsos</h2>
					<p> Y si, teníamos que dejarte también un lugar donde poner tu pareo....disfrutá de los bolsos y la combinación! Tus cosas organizadas y demás...  </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		
		<!-- ==== ABOUT ==== -->
		
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">TEFI</h1>
				<hr>
				
				<div class="col-lg-6, centered">
					<p>Somos una marca joven, ágil, llena de energía y alegría. Te proponemos colores frescos y vibrantes para que te acompañen durante el día. Nuestra marca se propone llenar de color al mundo ...acá chamullo chamullo...un color  a la vez, la vida es alegría, respeto, libertad y amor...eso sostenemos y eso queremos que nuestros productos reflejen.Estas verdades nos guían, motivan y nos ayudan a redefinir nuestro diseño. Creemos en hacer lo correcto. Por eso queremos definirnos como una marca sustentable, con un plan a largo plazo que genere comunidad.</p>
				</div><!-- col-lg-6 -->
				
				<!-- <div class="col-lg-6">
					<p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
				</div> col-lg-6 --> 
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>LOOKBOOK</h1>
				<hr>
				<p> Mirá el detrás de campaña en pinterest.Pin: tefi (link a pinterest).</p>
			</div><!-- container -->
		</section><!-- section -->
		
		
		<!-- ==== SERVICES ====
		<div class="container" id="services" name="services">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">ONE BRAND, ONE VOICE.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<p>Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s audience. Sometimes these two halves have very different viewpoints, creating a weak spot in the brand story. Weakness tarnishes credibility. Brands that aren’t credible aren’t viable.
					</p>
					<p>We squash weakness by designing the whole brand story. It’s crafted around the truism held by employees and consumers to create an experience that connects from the inside out.</p>
					<p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
				</div> 
			</div> row 
			
			<div class="row">
				<h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<img class="img-responsive" src="assets/img/iphone.png" alt="">
				</div>  col 
			</div> row 
		</div> container -->
  		

		<!-- ==== SECTION DIVIDER2 
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>DESIGN IS AN INTERACTION</h1>
				<hr>
				<p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
			</div>container 
		</section> section -->

		<!-- ==== TEAM MEMBERS ==== -->
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">NOSOTRAS</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="assets/img/team/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Tefi Mustapic</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Tefi es nuestra diseñadora, sabe qué telas elegir y cómo hacer diseños copados. La pueden contactar si quieren saber más sobre técnicas de manufactura, moldería, joyería en acrílico. Fan de Zara y Wacom, nos va a dibujar un logo de la pu** :).</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="assets/img/team/team02.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Magda Llavallol</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Se ocupa del proyecto, mantener los tiempos... y la parte comercial con Tefi. Project Manager de profesión, ingeniera de carrera... le gusta la cerveza y le coparía poder hacerla. Fanática de Ruby On Rails.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="assets/img/team/team03.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Jaemes McArthur</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Consultor general de las chicas. Le gustan los asados y está esperando que Tef organice uno en su casa</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="assets/img/team/team04.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Tincho Castellani</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Mantiene al día todas nuestras redes para que puedas estar al tanto de nuestros últimos lanzamientos y para que cada vez que entres a facebook te encuentres con nuestro banner (no todas las veces, cansa un poco).</p>
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== GREYWRAP ==== 
		<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 centered">
						<img class="img-responsive" src="assets/img/macbook.png" align="">
					</div>
					<div class="col-lg-4">
						<h2>We Are Hiring!</h2>
						<p>Do you want to be one of use? Sure you want, because we are an awesome team!. Here we work hard every day to craft pixel perfect sites.</p>
						<p><a class="btn btn-success">Contact Us</a></p>
					</div>					
				</div> row 
			</div>
			<br>
			<br>
		</div> greywrap -->
		
		<!-- ==== SECTION DIVIDER3 -->
		<section class="section-divider textdivider divider3">
			<div class="container">
				<h1>SEGUINOS QUE SE VIENEN MÁS PRODUCTOS</h1>
				<hr>
				<p style="text-shadow: 2px 2px 2px, color: #000000|">Lo que ves acá, es solo un sneak-peek...se viene esto y mucho más...poné Me Gusta en Face para seguir todos nuestros eventos.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== PORTFOLIO ==== -->
		
		<!-- ==== SECTION DIVIDER4 ==== -->
		<section class="section-divider textdivider divider4">
			<div class="container">
				<h1>DESIGN CREATES EMOTIONAL CONNECTION</h1>
				<hr>
				<p>There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== BLOG ==== -->
		<div class="container" id="blog" name="blog">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">WE ARE STORYTELLERS</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			
			<div class="row">
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="assets/img/team/team04.jpg" width="60px" height="60px"></p>
						<h4>Jaye Smith</h4>
						<h5>Published Aug 30.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>We Define Success</h2>
						<p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
						<p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col -->
				
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="assets/img/team/team03.jpg" width="60px" height="60px"></p>
						<h4>Michele Lampa</h4>
						<h5>Published Aug 28.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>A Beautiful Story</h2>
						<p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
						<p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			<br>
		</div><!-- /container -->

		
		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">
			<div class="container">
				<h1>CRAFTED IN NEW YORK, USA.</h1>
				<hr>
				<p>Some Address 987,</p>
				<p>+34 9884 4893</p>
				<p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
			</div><!-- container -->
		</section><!-- section -->
		
		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">GRACIAS POR VISITARNOS</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3>Nos podes contactar en:</h3>
					<p> <span class="icon icon-home"></span> Ruggieri 2794, Capital Federal, Arg. <br/>
						<span class="icon icon-mobile"></span> +54 911 5952 4540 <br/>
						<span class="icon icon-mobile"></span> +54 911 6352 5519 <br/>
						<span class="icon icon-envelop"></span> <a href="#"> tefi@tefi.com</a> <br/>
						<span class="icon icon-pinterest"></span> <a href="#"> Tefi </a> <br/>
						<span class="icon icon-facebook"></span> <a href="#"> Tefi </a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Newsletter</h3>
					<p>Si querés enterarte sobre ofertas y nuevos lanzamientos, suscribite al Newslett</p>
					<p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputEmail1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="text1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="text" class="form-control" id="text1" placeholder="Your Name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-10">
						      <button type="submit" class="btn btn-success">Sign in</button>
						    </div>
						  </div>
					   </form><!-- form -->
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3> Tenenos en tu provincia </h3>
					<p>Si te interesa vender nuestros productos en tu provincia, escribinos a tefi@tefi.com y nos vamos a poner en contacto con vos!</p>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->

		<div id="footerwrap">
			<div class="container">
				<h4>Created by <a href="http://blacktie.co">BlackTie.co</a> - Copyright 2014</h4>
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		

	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/retina.js"></script>
	<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
	<script type="text/javascript" src="assets/js/jquery-func.js"></script>
  </body>
</html>
